# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# env / secrets — NUNCA en git
.env
.env.local
.env.*.local

# data / media generados
/data/
/media/
*.log
logs/
.pm2/

# python
__pycache__/
*.pyc
.venv/
venv/

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
